services:
  rp:
    container_name: rp
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - ./nginx/config:/etc/nginx:ro
      - ./frontend:/var/www/html
    ports:
      - 443:443

  auth-service:
    container_name: auth-service
    build:
      context: ./auth
      dockerfile: Dockerfile
    volumes:
      - ./auth:/app
      - maven_repo:/root/.m2
    ports:
      - 4000:8080
#replicas
  user-service:
    container_name: user-service
    build:
      context: ./demo
      dockerfile: Dockerfile
    volumes:
      - ./demo:/app
      - maven_repo:/root/.m2
    ports:
      - 2000:8080
    depends_on:
      - user_db


  device-service:
    container_name: device-service
    build:
      context: ./demo1
      dockerfile: Dockerfile
    volumes:
      - ./demo1:/app
      - maven_repo:/root/.m2
    ports:
      - 3000:8080
    depends_on:
      - device_db

  user_db:
    container_name: user_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - user_data:/var/lib/postgresql/data
    ports:
      - 1000:5432

  device_db:
    container_name: device_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - device_data:/var/lib/postgresql/data
    ports:
      - 1001:5432


  credential_db:
    container_name: credential_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - credential_db:/var/lib/postgresql/data
    ports:
      - 1002:5432

volumes:
  user_data:
  maven_repo:
  device_data:
  credential_db:
