services:
  user_db:
    container_name: user_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - my_net
    ports:
      - 1000:5432

  device_db:
    container_name: device_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - device_data:/var/lib/postgresql/data
    networks:
      - my_net
    ports:
      - 1001:5432

  credential_db:
    container_name: credential_db
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - credential_db:/var/lib/postgresql/data
    networks:
      - my_net
    ports:
      - 1002:5432

networks:
  my_net:
    driver: bridge

volumes:
  user_data:
  device_data:
  credential_db: